body{
    margin: 0;
    padding: 0;
}

section{
    height: 745px;
    width: 100%;
    background: url(background.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

}
.company-name{
    font-family: Georgia, serif;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #ffff;
    text-align: center;

}


